<div style="display: flex; flex-direction: column; gap: 15px;">

    <div style="display: flex; justify-content: flex-end;">
        <a class="btn btn-primary" href="/adduser">
            + Add user
        </a>
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col" class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            {{#each userData}}
            <tr>
                <th scope="row">{{this.id}}</th>
                <td>{{this.first_name}}</td>
                <td>{{this.last_name}}</td>
                <td>{{this.email}}</td>
                <td>{{this.phone}}</td>
                <td style="display: flex; justify-content: center;  gap: 15px;">
                    <a href="/view/{{this.id}}" style="text-decoration: none; color: rgb(25, 35, 209);"> <i
                            class="bi bi-eye"></i> View
                    </a>
                    <a href="/update/{{this.id}}" style="text-decoration: none; color: rgb(150, 97, 28);"><i
                            class="bi bi-pencil"></i>
                        Edit
                    </a>
                    <a href="/delete/{{this.id}}" style="text-decoration: none; color: red;"></i> <i
                            class="bi bi-trash"></i> Delete</a>
                </td>
            </tr>
            {{/each}}

        </tbody>
    </table>


</div>